
body {
    font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif!important;
}
#layout_toper {
    height: 35px;
    line-height: 35px;
    background-color: gray;
    color: #fff;
}
.ltitem{
    color: #fff;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
}
.ltitem:hover{
    color: #fff;
    background: #bdbdbd;
}

/*Ä£Ì¬¿ò*/
.myMP{
    margin: 20px;
}
.myB{
    margin-bottom: 20px;
}




















