<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="car" class="cn.bdqn.zhu.Car">
        <property name="brand" value="兰博基尼"></property>
        <property name="color" value="红色"></property>
    </bean>

    <!--01.构造注入-->
    <!-- <bean id="stu" class="cn.bdqn.zhu.Student">
          <constructor-arg index="0" value="邱少"></constructor-arg>
          <constructor-arg index="1" value="20"></constructor-arg>
          <constructor-arg index="2" ref="car"></constructor-arg>
      </bean>-->

    <!--02.p命名空间注入-->
    <bean id="stu" class="cn.bdqn.zhu.Student" p:name="邱少" p:age="20" p:car-ref="car">

    </bean>
    <!--Array-->
    <bean id="array" class="cn.bdqn.zhu.MyCollection">
        <property name="array">
            <array>
                <value>呵呵</value>
                <value>哈哈</value>
                <value>嘿嘿</value>
            </array>
        </property>
    </bean>
    <!--List-->
    <bean id="list" class="cn.bdqn.zhu.MyCollection">
        <property name="list">
            <list>
                <value>呵呵</value>
                <value>哈哈</value>
                <value>嘿嘿</value>
            </list>
        </property>
    </bean>
    <!--set-->
    <bean id="set" class="cn.bdqn.zhu.MyCollection">
        <property name="set">
            <set>
                <value>呵呵</value>
                <value>哈哈</value>
                <value>嘿嘿</value>
            </set>
        </property>
    </bean>

    <!--Map-->
    <bean id="map" class="cn.bdqn.zhu.MyCollection">
        <property name="map">
            <map>
                <entry key="001" value="呵呵"></entry>
                <entry key="002" value="啊啊"></entry>
                <entry key="003">
                    <value>哦哦</value>
                </entry>
            </map>
        </property>
    </bean>

    <!--properties-->
    <bean id="properties" class="cn.bdqn.zhu.MyCollection">
        <property name="properties">
            <props>
                <prop key="001">
                    ljl
                </prop>
                <prop key="002">
                    lb
                </prop>
                <prop key="003">
                    lcx
                </prop>
            </props>
        </property>
    </bean>

</beans>